@charset "UTF-8";

body > aside
{
    & > div
    {
        background: var(--bg_secondary);

        padding: 20px;

        height: 100%;
    }

    & > div > menu
    {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        gap: 15px;

        height: inherit;

        & button
        {
            background: var(--bg_primary);
            border: none;

            align-items: center;
            display: flex;
            justify-content: center;
        }

        & > :first-child > button
        {
            border-radius: 50%;

            padding: 5px;

            &:hover
            {
                animation: spiral 1s linear infinite;
            }
        }

        & > :last-child > button
        {
            border-radius: 5px;

            padding: 7px;
        }
    }
}