@charset "UTF-8";

body > header
{
    & > div
    {
        background: #B80C09;
        box-shadow: 0 0 5px #141301;

        align-items: center;
        display: flex;
        justify-content: center;

        height: 100%;
    }

    & h1
    {
        color: #E5E7E6;

        font: bold 1.5rem sans-serif;
    }
}