@charset "UTF-8";

body > header
{
    & > div
    {
        background: var(--bg_primary);
        box-shadow: 0 0 5px var(--bg_secondary);

        align-items: center;
        display: flex;
        justify-content: center;

        height: 100%;
    }

    & h1
    {
        color: var(--fg_primary);

        font: bold 1.5rem sans-serif;
    }
}