body > header
{
    & > div
    {
        background-image: url('https://source.unsplash.com/1600x200');
        box-shadow: 10px 5px 5px grey;

        align-items: center;
        display: flex;
        justify-content: center;

        height: 200px;
    }

    & h1
    {
        color: #E5E7E6;

        font: bold 80px sans-serif;
    }
}