@charset "UTF-8";

#details-section
{

    & header > :only-child
    {
        align-items: center;
        display: flex;
        justify-content: center;

        height: 100%;
    }

    & form > :only-child
    {
        padding: 20px 30px;

        height: 100%;

        & > fieldset
        {
            display: flex;
            flex-flow: column nowrap;
            gap: 10px;

            & > label
            {
                align-items: center;
                display: flex;
                gap: 10px;

                & > :first-child
                {
                    flex: 30%;
                    font-size: .87rem;
                }

                & > :last-child
                {
                    background: none;
                    border: none;
                    border-bottom: 2px solid var(--bg_primary);

                    color: var(--bg_secondary);

                    flex: 70%;

                    outline: none;
                    padding: 5px 10px;
                }
            }
        }
    }

    & footer > :only-child
    {
        align-items: center;
        display: flex;
        justify-content: flex-end;

        padding: 0 20px;

        height: 100%;

        & p
        {
            font-size: .83rem;
        }
    }

    & aside
    {
        & > :only-child
        {
            background: var(--bg_ternary);

            padding: 20px 20px;

            height: 100%;
        }

        & figure
        {
            align-items: center;
            display: flex;
            flex-flow: column nowrap;
            gap: 15px;

            & > img
            {
                border-radius: 50%;

                outline: medium solid var(--bg_primary);
            }
        }

        & p
        {
            font-size: .85rem;

            margin: 20px 0;

            text-align: center;
        }

        & menu
        {
            align-items: center;
            display: flex;
            flex-flow: column nowrap;
            gap: 7px;

            & button
            {
                background: var(--bg_primary);
                border: none;
                border-radius: 15px;

                color: var(--fg_primary);
                cursor: pointer;

                align-items: center;
                display: flex;
                gap: 5px;

                outline: none;
                padding: 5px 15px;

                & > [class]
                {
                    font-size: 18px;
                }
            }
        }
    }
}