<div id="{{ employee.CPF|e }}" class="item">
  <figure>
    <img src="public/img/worker.png" alt="Employee Icon" height="24" width="24">

    <figcaption>{{ employee.name|e }} {{ employee.surname|e }}</figcaption>
  </figure>

  <button type="button" title="Show details">
    <img src="public/img/spiral.png" alt="Details Icon" height="24" width="24">
  </button>
</div>