@charset "UTF-8";

html
{
    scroll-behavior: smooth;
}

body
{
    background: #E5E7E6;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;

    font-family: 'Roboto', sans-serif;
}

h1, h2, h3
{
    font-family: 'Staatliches', cursive;
}