@charset "UTF-8";

:root
{
    scroll-behavior: smooth;

    --bg_primary   : #B80C09;
    --bg_secondary : #141301;
    --bg_ternary   : #B7B5B3;
    --fg_primary   : #E5E7E6;
}

::selection
{
    background: var(--bg_primary);
    color: var(--fg_primary);
}

::placeholder
{
    color: var(--bg_secondary);
}

body
{
    background: var(--fg_primary);

    font-family: "Ubuntu", sans-serif;
}