@charset "UTF-8";

html
{
    scroll-behavior: smooth;

    --bg_primary   : #B80C09;
    --bg_secondary : #141301;
    --bg_ternary   : #B7B5B3;
    --fg_primary   : #E5E7E6;
}

body
{
    background: #E5E7E6;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;

    font-family: 'Roboto', sans-serif;
}

h1, h2, h3
{
    font-family: 'Staatliches', cursive;
}