main
{
    display: flex;
    flex-direction: row-reverse;

    height: 450px;
}

main > div
{
    display: flex;
    justify-content: center;
    align-items: baseline;

    height: inherit;
    width: 80%;

    text-align: center;
}

main p
{
    font-size: x-large;

    line-height: 50px;
}

main h2
{
    font-size: xx-large;
    font-weight: bold;
    margin-top: 20px;
}