@charset "UTF-8";

#employees
{
    height: 100%;
    width: 50%;

    & > div
    {
        height: inherit;

        & > header
        {
            height: 13%;

            & > :only-child
            {
                align-items: center;
                display: flex;

                padding: 0 20px;

                height: 100%;
            }

            & h2
            {
                background: var(--fg_primary);
                border-radius: 5px 20px 20px 5px;

                color: var(--bg_secondary);

                font: bold 1rem "Ubuntu", sans-serif;

                padding: 7px 15px;
            }
        }

        & > nav
        {
            height: 87%;

            & > :only-child
            {
                direction: rtl;

                overflow: hidden scroll;
                padding: 10px 20px;

                height: 100%;
            }

            & ul
            {
                direction: ltr;

                display: flex;
                flex-flow: column nowrap;
                gap: 10px;
            }

            & p
            {
                direction: ltr;

                margin-top: 30px;

                text-align: center;
            }
        }
    }
}