<section id="employees">
  <div>
    <header>
      <div>
        <h2>Employees</h2>
      </div>
    </header>

    <nav>
      <div>
        {% if employees is not empty %}
          <ul>
            {% for employee in employees %}
              <li>
                {{ include("@home/list/.components/card/index.twig") }}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>No employees registered!</p>
        {% endif %}
      </div>
    </nav>

    {{ include("@home/list/.components/menu/index.twig") }}

  </div>
</section>