@charset "UTF-8";

body > footer
{
    & > div
    {
        background: var(--bg_secondary);

        color: var(--fg_primary);

        align-items: center;
        display: flex;
        justify-content: center;

        height: 100%;
    }
}