@charset "UTF-8";

body > footer
{
    & > div
    {
        background: #141301;

        color: #E3DCE6;

        align-items: center;
        display: flex;
        justify-content: center;

        height: 10vh;
    }
}