@charset "UTF-8";

.ballon
{
    background: white;
    border-radius: 7px 15px 15px 7px;
    box-shadow: 0 0 10px 2px var(--bg_secondary);

    align-items: center;
    display: none;
    gap: 15px;

    outline: 2px solid var(--bg_secondary);
    padding: 10px 15px;

    position: absolute;
    z-index: 3;

    & > p
    {
        font: normal .9rem/1.2 "Ubuntu", sans-serif;
    }

    & > button
    {
        background: none;
        border: none;

        color: var(--bg_primary);
        cursor: pointer;

        font-size: 30px;

        outline: none;
        padding: 0;
    }
}