@charset "UTF-8";

.ballon
{
    background: white;
    border-radius: 7px 15px 15px 7px;
    box-shadow: 0 0 10px 2px var(--bg_secondary);

    contain: layout;

    align-items: center;
    display: none;
    gap: 15px;

    outline: 2px solid var(--bg_secondary);
    padding: 15px 15px 10px;

    position: absolute;
    z-index: 3;

    & > p
    {
        font: normal .9rem/1.2 "Ubuntu", sans-serif;
    }

    & > menu
    {
        align-items: center;
        display: flex;
        gap: 5px;

        position: absolute;
        inset: -17px 17px auto auto;

        & button
        {
            background: var(--bg_primary);
            border: none;
            border-radius: 50%;

            color: var(--fg_primary);
            cursor: pointer;

            font-size: 18px;

            outline: none;
            padding: 5px;
        }
    }
}