@charset "UTF-8";

#employee-form fieldset:first-of-type
{
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;

    & > label
    {
        display: flex;
        flex-flow: column nowrap;
        gap: 15px;

        & > :first-child
        {
            align-self: flex-start;

            background: var(--bg_primary);
            border-radius: 5px;

            color: var(--fg_primary);

            font-size: .9rem;

            opacity: .7;
            padding: 5px 10px;
        }

        & > select
        {
            appearance: none;
        }

        & > :last-child
        {
            background: var(--fg_primary);
            border: thin solid var(--bg_primary);
            border-radius: 20px;
            box-shadow: 0 0 5px 3px var(--bg_primary);

            caret-color: var(--bg_primary);
            color: var(--bg_secondary);

            outline: none;
            padding: 10px 15px;
        }
    }
}