@charset "UTF-8";

#employee-form fieldset:first-of-type
{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;

    & > label
    {
        display: flex;
        flex-flow: column nowrap;
        gap: 7px;

        & > :first-child
        {
            align-self: center;

            font-size: .9rem;
        }

        & > :last-child
        {
            background: none;
            border: 2px solid var(--bg_primary);
            border-radius: 5px;
            box-shadow: 0 0 7px var(--bg_primary);

            caret-color: var(--bg_primary);
            color: var(--bg_secondary);

            outline: none;
            padding: 7px 10px;
        }
    }
}