<dialog id="ballon">
  <div>
    <header>
      <div>
        <menu>
          <li>
            <button type="button" class="material-icons" title="Copy">
              drag_indicator
            </button>
          </li>
          <li>
            <button type="button" class="material-icons" title="Close ballon">
              close
            </button>
          </li>
        </menu>
      </div>
    </header>

    <p>
      Av. dos Industrários, 1384, CEP 91834-882
      <br>
      Navegantes, Porto Alegre/RS
      <br>
      <br>
      Em frente ao depósito de mercadorias da Renner.
    </p>

    <footer>
      <div>
        <button type="button" title="Copy">
          <span class="material-icons">content_copy</span>

          <span>Copy address</span>
        </button>
      </div>
    </footer>
  </div>
</dialog>