<div class="ballon">
  <menu>
    <li>
      <button type="button" class="material-icons" title="Copy">
        content_copy
      </button>
    </li>
    <li>
      <button type="button" class="material-icons" title="Close ballon">
        close
      </button>
    </li>
  </menu>

  <p>
    Av. dos Industrários, 1384, CEP 91834-882
    <br>
    Navegantes, Porto Alegre/RS
    <br>
    <br>
    Em frente ao depósito de mercadorias da Renner.
  </p>
</div>