@charset "UTF-8";

section:first-of-type
{
    height: 100%;
    width: 50%;

    & > div
    {
        display: grid;
        grid: 10% 90% / repeat(4, 25%);

        height: inherit;

        & > header
        {
            grid-area: 1 / 1 / 2 / 3;
        }

        & > form
        {
            grid-area: 2 / 1 / 3 / 4;
        }

        & > footer
        {
            grid-area: 1 / 3 / 2 / 5;
        }

        & > aside
        {
            grid-area: 2 / 4 / 3 / 5;
        }

        & > :is(header, form, footer, aside) > div
        {
            height: 100%;
        }

        & > header
        {
            & > :only-child
            {
                align-items: center;
                display: flex;

                padding: 0 20px;
            }

            & h2
            {
                font: bold 1.1rem "Ubuntu", sans-serif;
            }
        }

        & > form
        {
            & > :only-child
            {
                contain: layout;
            }

            & fieldset
            {
                background: var(--fg_primary);

                padding: 10px 20px;

                position: absolute;
                inset: 0;

                & > legend
                {
                    display: none;
                }
            }
        }

        & > footer
        {
            & > :only-child
            {
                align-items: center;
                display: flex;
                justify-content: flex-end;

                padding: 0 20px;
            }

            & menu
            {
                align-items: center;
                display: flex;
                gap: 10px;

                & button
                {
                    background: var(--bg_primary);
                    border: none;
                    border-radius: 20px;

                    color: var(--fg_primary);
                    cursor: pointer;

                    outline: none;
                    padding: 5px 20px;
                }
            }
        }

        & > aside
        {
            background: var(--bg_secondary);
            color: var(--fg_primary);

            & > :only-child
            {
                padding: 20px 0;
            }

            & menu
            {
                align-items: center;
                display: flex;
                flex-flow: column nowrap;
                gap: 30px;

                & button
                {
                    background: none;
                    border: none;

                    color: inherit;
                    cursor: pointer;

                    outline: none;
                    padding: 5px 20px;

                    & figure
                    {
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        flex-flow: column nowrap;
                        gap: 10px;

                        & > img
                        {
                            background: var(--bg_primary);
                            border-radius: 50%;

                            outline: 2px outset transparent;
                            padding: 7px;
                        }
                    }

                    &:hover img
                    {
                        outline-color: var(--fg_primary);
                    }
                }
            }
        }
    }
}