@charset "UTF-8";

section:first-of-type
{
    height: 100%;
    width: 50%;

    & > div
    {
        display: grid;
        grid: 10% 90% / repeat(2, 50%);

        height: inherit;

        & > header
        {
            grid-area: 1 / 1 / 2 / 2;
        }

        & > form
        {
            grid-area: 2 / 1 / 3 / 3;
        }

        & > footer
        {
            grid-area: 1 / 2 / 2 / 3;
        }

        & > :is(header, form, footer) > div
        {
            height: 100%;
        }

        & > header
        {
            & > :only-child
            {
                align-items: center;
                display: flex;

                padding: 0 20px;
            }

            & h2
            {
                font: bold 1.1rem "Ubuntu", sans-serif;
            }
        }

        & > form
        {
            & > :only-child
            {
                display: flex;
                flex-flow: column nowrap;
                gap: 20px;

                overflow: hidden scroll;
                padding: 10px 20px;
            }
        }

        & > footer
        {
            & > :only-child
            {
                align-items: center;
                display: flex;
                justify-content: flex-end;

                padding: 0 20px;
            }

            & menu
            {
                align-items: center;
                display: flex;
                gap: 10px;

                & button
                {
                    background: var(--bg_primary);
                    border: none;
                    border-radius: 20px;

                    color: var(--fg_primary);
                    cursor: pointer;

                    outline: none;
                    padding: 5px 20px;
                }
            }
        }
    }
}