@charset "UTF-8";

body > aside
{
    /* background: #B7B5B3; */

    height: inherit;
    width: 20%;

    text-align: center;

    & a
    {
        background: #B80C09;
        border: thin solid black;
        border-radius: 3px;

        color: #E5E7E6;

        display: block;

        font: bold large sans-serif;

        margin: 5px;
        padding: 7px;

        text-decoration: none;

        &:hover
        {
            background: #141301;
        }

        &:visited
        {
            /* color: #141301; */
        }
    }
}