@charset "UTF-8";

body > aside
{
    & > div
    {
        background: var(--bg_ternary);

        height: 100%;

        text-align: center;
    }

    & a
    {
        background: var(--bg_primary);
        border: thin solid black;
        border-radius: 3px;

        color: var(--fg_primary);

        display: block;

        font: bold large sans-serif;

        margin: 5px;
        padding: 7px;

        text-decoration: none;

        &:hover
        {
            background: var(--bg_secondary);
        }

        &:visited
        {
            /* color: #141301; */
        }
    }
}