@charset "UTF-8";

body > aside
{
    & > div
    {
        background: var(--bg_secondary);

        color: var(--fg_primary);

        padding: 20px;

        height: 100%;
    }

    & > div > header
    {
        height: 10%;

        & > :only-child
        {
            height: 100%;
        }

        & h2
        {
            font: bold 1.3rem "Staatliches", sans-serif;

            text-align: center;
        }
    }

    & > div > nav
    {
        height: 90%;

        & > :only-child
        {
            height: 100%;
        }

        & ul
        {
            display: flex;
            flex-flow: column nowrap;
            gap: 15px;
        }

        & a
        {
            background: transparent;
            border: thin solid var(--fg_primary);
            border-radius: 5px 20px 20px 5px;

            color: inherit;

            display: block;

            font: bold .85rem sans-serif;

            padding: 10px 0;

            text-align: center;
            text-decoration: none;

            transition: all .5s linear;

            &:hover
            {
                background: var(--bg_primary);
                border-color: var(--bg_primary);
            }
        }
    }
}