@charset "UTF-8";

@supports (scrollbar-color: transparent transparent) and (scrollbar-width: thin)
{
    :root
    {
        scrollbar-color: var(--bg_primary) var(--fg_primary);
        scrollbar-width: thin;
    }
}

:root
{
    scroll-behavior: smooth;

    --bg_primary   : #B80C09;
    --bg_secondary : #141301;
    --bg_ternary   : #B7B5B3;
    --fg_primary   : #E5E7E6;
}

::selection
{
    background: var(--bg_primary);
    color: var(--fg_primary);
}

::placeholder
{
    color: var(--bg_secondary);
}

::backdrop
{
    background: none;
}

body
{
    background: var(--fg_primary);

    font-family: "Ubuntu", sans-serif;
}