@charset "UTF-8";

body
{
    display: grid;
    grid: 10vh 80vh 10vh / 20% 80%;

    height: 100%;

    & > header
    {
        grid-area: 1 / 2 / 2 / 3;
    }

    & > main
    {
        grid-area: 2 / 2 / 3 / 3;
    }

    & > footer
    {
        grid-area: 3 / 2 / 4 / 3;
    }

    & > aside
    {
        grid-area: 1 / 1 / 4 / 2;
    }
}

body > main
{
    & > div
    {
        height: 100%;
    }
}