@charset "UTF-8";

body > main
{
    display: flex;
    flex-flow: row-reverse nowrap;

    height: 450px;

    & > div
    {
        align-items: baseline;
        display: flex;
        justify-content: center;

        text-align: center;

        height: 100%;
        width: 80%;
    }

    & p
    {
        font-size: x-large;

        line-height: 50px;
    }

    & h2
    {
        font: bold xx-large sans-serif;

        margin-top: 20px;
    }
}