@charset "UTF-8";

form fieldset:nth-of-type(3)
{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;

    & > label
    {
        display: flex;
        flex-flow: column nowrap;
        gap: 7px;

        & > :first-child
        {
            align-self: center;
        }

        & > :last-child
        {
            background: none;
            border: none;
            border-radius: 5px;

            caret-color: var(--bg_primary);
            color: var(--bg_secondary);

            outline: thin solid var(--bg_primary);
            padding: 7px 10px;
        }
    }
}