<dialog id="details">
  <div>
    <header>
      <div>
        <h4>
          <span class="material-icons">person</span>

          <span>Employee's Details</span>
        </h4>

        <menu>
          <li><button type="button" class="material-icons" title="Drag">drag_indicator</button></li>
          <li><button type="button" class="material-icons" title="Close">close</button></li>
        </menu>
      </div>
    </header>

    {{ include("@home/modal/.components/section/index.twig") }}

    {{ include("@home/modal/.components/ballon/index.twig") }}

    <footer>
      <div>
        <menu>
          <li>
            <button type="button" title="Print employee's informations">
              <span>Print</span>

              <span class="material-icons">print</span>
            </button>
          </li>

          <li>
            <button type="button" title="Close window">
              <span class="material-icons">close</span>

              <span>Close</span>
            </button>
          </li>
        </menu>
      </div>
    </footer>
  </div>
</dialog>