@charset "UTF-8";

table, th, tr, td
{
    border: thin solid black;
}

td
{
    text-align: center;
}

th
{
    background: coral;
}

fieldset
{
    display: flex;
}

#labels, #inputs
{
    display: flex;
    flex-flow: column nowrap;
}